.font-jost{
    font-family: Jost;
}
.font-ubuntu{
    font-family: Ubuntu;
}
.font-oswald{
    font-family: Oswald;
}
.font-sserif{
    font-family: "Source Serif Pro";
}
.rotate3d{
    transition: 2s linear;
}
.rotate3d:hover{
    transform: rotate3d(0,100,100,360deg);
}